body {
	background-color: white;
}
button, div, form, input {
    margin: 10px;
}
h1 {
	font: 30px verdana, arial, sans-serif;
}
button {
	text-transform: capitalize;
	border-radius: 8px;
	height: 30px;
	background-color: darkcyan;
	color: white;
	font-family: verdana, arial, sans-serif;
}
button:hover {
	color:lightskyblue;
}
label {
	font: 16px verdana, arial, sans-serif;
}
#addHero {
	font: 16px verdana, arial, sans-serif;
	background-color: mediumblue;
	color: white;
	border-radius: 4px;
}
.gifImg {
	margin: 10px;
	width: 250px;
	height: 250px;
}
#gifSpace div {
	display: inline-block;
}